name: Create Release Pull Request
on:
  workflow_dispatch:
  pull_request:
    paths:
      # to develop or debug this workflow
      - .github/workflows/create-release-pr.yaml
      - .releaserc.yaml

jobs:
  get-next-version:
    permissions:
      contents: write
    uses: semantic-release-action/next-release-version/.github/workflows/next-release-version.yml@0cdefe1224944c23645e5131f7a5189672c0df92 # v4

  update-version:
    runs-on: ubuntu-latest
    needs:
      - get-next-version
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install semantic-release-cargo
        uses: EricCrosson/install-github-release-binary@a5c56f5ead92cd085677c6eda6dcc49ddb5f69c7 # v2
        with:
          targets: semantic-release-cargo/semantic-release-cargo@v2.2.96
        if: needs.get-next-version.outputs.new-release-published == 'true'
      - name: Prepare semantic-release for Rust
        run: semantic-release-cargo prepare ${{ needs.get-next-version.outputs.new-release-version }}
        if: needs.get-next-version.outputs.new-release-published == 'true'
      - id: gh-token-gen
        uses: oakcask/gh-token-gen@d65c585678cb39f009f96046d788617e1d0b0745 # v4.0.2
        with:
          app-id: ${{ secrets.TOKEN_GEN_APP_ID }}
          private-key: ${{ secrets.TOKEN_GEN_PRIVATE_KEY }}
      - name: Create pull request to release
        uses: int128/update-generated-files-action@ce7a724807483f600bd08be3eb85c91297b5d325 # v2
        if: needs.get-next-version.outputs.new-release-published == 'true'
        with:
          title: Release v${{ needs.get-next-version.outputs.new-release-version }}
          body: Releases v${{ needs.get-next-version.outputs.new-release-version }}
          commit-message: "chore: release v${{ needs.get-next-version.outputs.new-release-version }}"
          token: ${{ steps.gh-token-gen.outputs.token }}
